html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#windy {
    height: 500px;
    margin: 0 auto;}
    /*#windy #bottom,*/
    /*#windy #mobile-ovr-select,*/
    #windy #playpause,
    #windy .progress-line,
    #windy .box,
    #windy #embed-zoom {
        display: none !important; }
    #windy #logo-wrapper {
        top: initial;
        bottom: 40px; }
    #windy #logo-wrapper #logo {
        left: 50px; }